<footer class="footer block block--bg-gray">
  <div class="footer__item">
    <app-subscribe-form></app-subscribe-form>
  </div>
  <div class="footer__item">
    <p class="footer-title">Ми є у соціальних мережах</p>
    <app-socials></app-socials>

  </div>
  <div class="footer__item">
    <p class="copyright">
      © 2017 Букмоль. Незалежний культурний проект для дітей, їхніх батьків
      та усіх-усіх небайдужих й охочих до читання. Всі права захищені.
      Використання будь-яких матеріалів, розміщених на сайті, дозволяється
      за умови посилання на Bokmal.com.ua
    </p>
  </div>
</footer>



