@import "../../../scss/_variables";


.preview {
  position: relative;
  display: block;

  &__content--wrap {
    position: absolute;
    display: inline-block;
    max-width: 57%;
    width: 100%;
    right: 60px;
    top: 105px;
    max-height: 270px;
    height: 100%;

  }

  &__content {
    position: relative;
    padding: 30px;
  }

  &__content::before {
    content: "";
    width: 100%;
    height: 100%;
    border: 1px solid $color-light-gray--darken;
    position: absolute;
    top: 0;
    right: 50px;
    background: $color-white;
  }

  &__picture {
    position: relative;
    float: left;
    display: inline-block;
    max-width: 50%;
    min-width: 400px;
    max-height: 270px;
    width: 100%;
    height: 100%;
    border-bottom: 3px solid $color-red;
    overflow: hidden;
  }

  &__picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__title {
    position: relative;
    z-index: 1;
    color: $color-gray--darken;
  }

  &__title::before {
    content: "";
    width: 30px;
    height: 4px;
    background: #F94F4C;
    position: absolute;
    top: 20px;
    left: -46px;
    z-index: 1;
  }

  &__section {
    display: inline-block;
    float: right;
    padding: 20px 0;
    text-align: right;
    color: $color-main-acc;

  }

  &__title {
    position: relative;
    z-index: 1;
    margin: 25px 0;
  }

  &__bookmark {
    position: absolute;
    right: 90px;
    bottom: -14px
  }

  &__date {
    position: relative;
    z-index: 1;
  }

  &__btns-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__btn {
    margin: 0 $gutter;
    z-index: 1;
  }

  &__bookmark {
    width: 22px;
    height: 28px;

    & /deep/ svg{
      stroke:  $color-main-acc;
    }

  }

}


