<app-banner [data]="bannerData"></app-banner>
<div class="content">
  <app-sort-block></app-sort-block>
  <app-preview></app-preview>
  <div class="block">
    <app-grid-preview></app-grid-preview>
  </div>
  <app-preview-banner ></app-preview-banner>
  <div class="block block--bg-gray">
    <app-grid-preview></app-grid-preview>
  </div>
<app-preview-picture-right></app-preview-picture-right>
  <div class="block">
    <app-grid-preview ></app-grid-preview>
  </div>
  <app-load-more></app-load-more>
</div>

