@import "../../../scss/variables";


:host{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 450px;
  background: url(https://cn.opendesktop.org/img/2/6/8/e/5a86b7241d412a0aef4085d49757d5a7488b.jpg) no-repeat center;
  background-size: cover;
  padding: 100px;
}


.banner__article-date .icon,
.banner__article-date p {
  fill: $color-white;
  color: $color-white;
}



.announce {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 50%;

  &__title {
    color: $color-white;
  }

  &__section {
    color: $color-main-acc;
    text-transform: uppercase;
  }


}

.announce > * {
  padding: $gutter 0;
}
