@import "../../../scss/variables";


.banner{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 450px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 100px;
}


.banner__article-date .icon,
.banner__article-date p {
  fill: $color-white;
  color: $color-white;
}



.announce {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 50%;

  &__title {
    color: $color-white;
  }

  &__section {
    color: $color-main-acc;
    text-transform: uppercase;
  }


}

.announce > * {
  padding: $gutter 0;
}
