//@import "_fonts";
@import "theme-for-all";


//colors
$color-light-gray: #f7f7f9;
$color-light-gray--darken: #ebecf0;
$color-gray: #837f89;
$color-gray--darken: #2b292d;
$color-white: #fff;
$color-red:#F94F4C;
$color-main-acc: #ffc830;
//fonts
$font-acc: ProximaNova;
$font-main: Lora;


$gutter: 16px;

//colors depend on the theme
$color-main-acc: $theme-for-all;
$color-main-acc--darken: $theme-for-all--darken;
$bg-main-acc: $bg-for-all;
$contrast-bg-main-acc: $contrast-bg-for-all;
