//@import "_fonts";

//colors
$color-light-gray: #f7f7f9;
$color-light-gray--darken: #ebecf0;
$color-gray: #837f89;
$color-gray--darken: #2b292d;
$color-white: #fff;
$color-red:#F94F4C;
$color-main-acc: #ffc830;
//fonts
$font-acc: ProximaNova;
$font-main: Lora;


$gutter: 16px;
