@import "../../../scss/_variables";

.sort {
  display: flex;

  &__item:not(:last-child) {
    border-right: 2px solid $color-gray;
  }

  > * {
    padding: 0 10px;
    color: $color-gray;
  }

  &__item {
    background: none;
    font-weight: bold;
  }

  &__item:active,
  &__item:focus {
    color: $color-gray--darken;
  }

  &__name {
    padding-left: 0;
  }

}
